<div class="title-group">
  <h1 class="mat-h1">Hero Detail</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<div class="inner-wrapper">
  <form [formGroup]="heroForm" #resetHeroForm="ngForm" novalidate>
    <mat-card>
      <mat-form-field>
        <input
          type="text"
          matInput
          appUppercase
          placeholder="Superhero name"
          formControlName="superHeroName"
        />
        <mat-error *ngIf="handleError('superHeroName', 'required')">
          You must provide a<strong>superhero name</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Real name" formControlName="realName" />
        <mat-error *ngIf="handleError('realName', 'required')">
          You must provide the<strong>real name</strong>
        </mat-error>
      </mat-form-field>
    </mat-card>

    <mat-card>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Description"
          formControlName="description"
        ></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Powers</mat-label>
        <textarea
          matInput
          placeholder="Powers"
          formControlName="powers"
        ></textarea>
      </mat-form-field>
    </mat-card>

    <mat-card>
      <div class="full-wrapper button-wrapper">
        <button
          mat-flat-button
          type="submit"
          (click)="updateHeroForm()"
          color="primary"
        >
          {{ heroId ? "Update" : "Add" }}
        </button>
        <button mat-flat-button color="warn" (click)="cancel()">Cancel</button>
      </div>
    </mat-card>
  </form>
</div>
